<%= tag(:div, class: "#{class(:past, @shift_time.value)} shift-list-item") %>
  <span class="day_label" %>
    <%= @shift_time.day_label %> 
  </span>
  <span>
    <%= @shift_time.time_label %>
  </span>
</div>